test_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="productsapiActiveListEntity">
                <all>
                    <element name="product_id" type="xsd:integer" minOccurs="0" />
                    <element name="product_name" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:decimal" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="productsapiActiveListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productsapiActiveListEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="productsapiInactiveListEntity">
                <all>
                    <element name="product_id" type="xsd:integer" minOccurs="0" />
                    <element name="product_name" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:decimal" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="productsapiInactiveListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:productsapiInactiveListEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>

    <!--Messages-->
    <message name="productsapiActiveListRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="websiteId" type="xsd:string" />
    </message>
    <message name="productsapiActiveListResponse">
        <part name="result" type="typens:productsapiActiveListEntityArray" />
    </message>
    <message name="productsapiInactiveListRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="websiteId" type="xsd:string" />
    </message>
    <message name="productsapiInactiveListResponse">
        <part name="result" type="typens:productsapiInactiveListEntityArray" />
    </message>


    <!--portType-->
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="productsapiActiveList">
            <documentation>Listing of Active productsapi</documentation>
            <input message="typens:productsapiActiveListRequest" />
            <output message="typens:productsapiActiveListResponse" />
        </operation>
        <operation name="productsapiInactiveList">
            <documentation>Listing Of Inactive productsapi</documentation>
            <input message="typens:productsapiInactiveListRequest" />
            <output message="typens:productsapiInactiveListResponse" />
        </operation>
    </portType>


    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="productsapiActiveList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="productsapiInactiveList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>

    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>
